
.navigation{
	background-color:rgb(59, 89, 152);
}
.logo{
	align-items: center;
	margin-bottom: 10px;
}
.logo a{
	font-size: 32px;
	font-weight: bold;
	color: white !important;
	text-decoration: none;

}
.email label , .password label{
	color: white !important;
	font-size: 12px;
}
.forgotten{
	font-size: 13px;
	color: #87AFC7;
}
.btn1 button{
	background-color:#4267b2;
	color:white; 
	padding:2px 5px;
	border:1px solid darkblue; 
	border-radius: 2px;
	margin-top:30px;
}
.container-fluid{
	background:linear-gradient(white, #D3D8E8);
}

.leftpara{
	color:rgb(14, 56, 95); 
	font-size:20px;
	font-weight:700;
	margin-top: 40px;
	padding-right: 70px;
}

.container-fluid input{
	font-size:18px;
	border-radius: 5px;
	border: 1px solid rgb(189, 199, 216);
	padding-bottom:8px;
	padding-top:8px;
	padding-left:10px;
	padding-right:10px;
	margin:6px;
	margin-left:0px;
}
.half{
	width:190px;
}
.full{
	width: 391px;
}
.text1{
	color:#696969; font-size:19px; font-family:Helvetica, Arial, sans-serif; font-weight: bold;
}
.select{
	display: flex;
	flex-direction: row;

}

select{

	background-color:white;
	border:1px solid rgb(189, 199, 216);
	font-family:Helvetica, Arial, sans-serif;
	font-size:13px;
	font-weight:400;
	margin-top: 10px;
	height:30px;
	padding:5px;

}
#day, #year {
	width:66px;
}
#month{
	width:76px;
}
.term{
	font-size: 12px;
	color:#696969; 
	text-decoration:none;
	margin-top: 10px;
	margin-bottom: 10px;
}
.term a {
	text-decoration: none;
}

#signup
{	font-size:18px;	
	background-color:rgb(105, 167, 78);
	border:1px solid rgb(59, 110, 34);
	color:white;
	font-family:Freight Sans Bold", Helvetica, Arial, sans-serif;
	padding:20px;
	width:194px;
	text-align:center;
	font-weight:700;
	margin-bottom:10px;
	margin-top:10px;
	text-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	border-radius:5px;
	height:39px;
	margin-bottom: 30px;
	cursor: pointer;
}
#signup:hover{
	background:linear-gradient(rgb(100, 160, 85), rgb(105, 167, 78));
}

.createpage{
	font-family:Helvetica, Arial, sans-serif; color:rgb(102, 102, 102); font-size:13px; font-weight: bold; margin-bottom: 20px;

}
.createpage a{
	text-decoration: none;
}








@media (max-width: 1100px){
.leftpara{
	font-size:16px;
	font-weight:560;
	margin-top: 32px;
	padding-right: 56px;	

}
.leftimg{
	width:429px;
	height:156px;
}

.h2{
	font-size:28px;  font-weight:560; margin-top: 16px;
}
.intro{
	 font-size:15px;  margin-top:8px;margin-bottom: 8px; 
}
.container-fluid input{
	font-size:14px;
	border-radius: 4px;
	border: 1px solid rgb(189, 199, 216);
	padding-bottom:6px;
	padding-top:6px;
	padding-left:8px;
	padding-right:8px;
	margin:5px;
	margin-left:0px;
}
.half{
	width:151px;
}
.full{
	width: 312px;
}
.text1{
	 font-size:15px; 
}


select{

	font-size:10px;
	font-weight:320;
	margin-top: 8px;
	height:24px;
	padding:4px;

}
#day, #year {
	width:52px;
}
#month{
	width:60px;
}
.term{
	font-size: 9px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.radio{
	margin:80px;
}
#signup
{	font-size:14px;	
	
	width:155px;
	font-weight:560;
	
	margin-top:8px;
	border-radius:4px;
	height:31px;
	margin-bottom: 24px;
}

.createpage{
	font-family:Helvetica, Arial, sans-serif; color:rgb(102, 102, 102); font-size:10px; font-weight: bold; margin-bottom: 16px;

}
}

@media (max-width: 768px){
	.btn1 button{
		font-size: 10px;
		padding:7px 5px;
	}
	.right .align-items-end {
		align-items: center !important;
	}
	.right1{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.select{
		justify-content: center;
	}

}

















footer{
	font-size: 12px;
	margin-top: 50px;
	max-width: 60%;
	margin-left:20%;
	margin-right: 20%;
	margin-bottom: 20px;
	color:#696969;
}
#language a, #language span, #links a{
	margin-right: 20px;
	text-decoration: none;
	line-height: 20px;

}
footer p{
	margin-top: 20px;
}
a{
	color: #87AFC7;
	text-decoration: none;
}
#language a:hover , #links a:hover, a:hover{
	color: #87AFC7;
	text-decoration:underline;
}
